<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="admin/baseAdmin::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title he</title>
</head>
<body>
	<section>
		<div class="card mr-3 ml-3">
			<div class="card-body">
				<h1 class="text-center">Customer Details</h1>
					<table class="table">
						  <thead>
						    <tr>
						      <th scope="col">Customer ID</th>
						      <th scope="col">First Name</th>
						      <th scope="col">Last Name</th>
						      <th scope="col">Email</th>
						       <th scope="col">Phone number</th>
						       <th scope="col">Action</th>
						       
						    </tr>
						  </thead>
						  <tbody>
						    <tr th:each="c:${customers}">
						      <th scope="row" th:text="${'ADBL'+c.cid}">3</th>
						      <td  >
						      <img th:src="@{'/img/'+${c.image}}" class="mypp" alt="profile photo" src="">
						      
						      <a href="#" th:href="@{'/admin/'+${c.cid}+'/customer'}">
						      	<span th:text="${c.firstName}"></span>
						      </a>
						      
						      
						      </td>
						      <td th:text="${c.secondName}"></td>
						      <td th:text="${c.email}"></td>
						      <td th:text="${c.phone}"></td>
						      <td>
						      
						      	
						      	<button th:onclick="|deleteDetails(${c.cid})|" class="btn btn-danger btn-sm">Delete</button>
						      	<form method="post" th:action="@{'/admin/updateDetails/'+${c.cid}}" class="mt-2">
						      	<button type="submit" class="btn btn-primary btn-sm">Update</button>
						      
						      </form>
						      
						      </td>
						    </tr>
						  </tbody>
						</table>
						<nav aria-label="Page navigation example">
						  <ul class="pagination">
						    <li th:if="${currentPage != 0}" class="page-item"><a th:href="@{'/admin/viewDetails/'+${currentPage-1}}" class="page-link" href="#">Previous</a></li> 
						    
						    <li th:classappend="${currentPage==i-1?'active':''}" th:each="i:${#numbers.sequence(1,totalPages)}" 
						    class="page-item"><a th:href="@{'/admin/viewDetails/'+${i-1}}" class="page-link" href="#">
						    <span th:text="${i}"></</span></a></li>
						  
						    <li th:if="${currentPage+1 != totalPages}" class="page-item"><a th:href="@{'/admin/viewDetails/'+${currentPage+1}}"  class="page-link" href="#">Next</a></li>
						  </ul>
						</nav>
			
			</div>
		
		</div>
	
	</section>
</body>
</html> 